@import "tailwindcss";

/* background color #0a0a0a */

@theme inline {
    --font-sans: var(--font-poppins);
    /* Use Poppins */
}

@theme {
    --breakpoint-xxsm: 300px;
    --breakpoint-xsm: 400px;
    --breakpoint-xs: 480px;
    /* Custom for very small screens */
    --breakpoint-sm: 640px;
    /* Small devices */
    --breakpoint-md: 768px;
    /* Tablets */
    --breakpoint-lg: 1024px;
    /* Laptops */
    --breakpoint-xl: 1280px;
    /* Desktops */
    --breakpoint-2xl: 1536px;
    /* Large screens */
}

body {
    font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}